page-login {
  .login-box{
    p {
      span {
        display: block;
        margin-bottom: 6px;
        font-size: 18px;
      }
    }
    .button-md, .button-md:hover {
      border-radius: 50px;
      background-color: #1b3d72;
    }
  }
  .cls_curpointer {
    cursor: pointer;
  }
  .top-icons { text-align: left; padding: 0 15px; color:#fff;  text-transform: capitalize;}
  .top-icons button {background: transparent; box-shadow: none; padding: 0; text-transform: capitalize; font-weight: normal;}
  .top-icons button:hover {background: transparent !important;}
  .login_sec {position: absolute;left: 0;right: 0;text-align: center;}
  .bg {width: 100%; background: url(../assets/imgs/img_login_bg.png) no-repeat; background-size: cover;}
  img.logo_img {max-width: 160px;}
  .login_sec hr {background: #fff;margin-top: 20px; margin-bottom: 20px; height: 1px;}
  .signup-col {width: 100%;}
  .signup-col .redbtn, .bluebtn{margin: 20px 0;}
  .login-box .text-input{background: #f7f7f7; border-radius: 20px; padding: 12px 16px; margin-right: 0;}
  .login-box p{color: #fff; margin: 0; text-align: center;}
  .login-box form p{text-align: right; padding-right: 15px;}
  .login-box form p a{color:#fff; text-decoration: none;} 
  .login-box form p a:hover{text-decoration: underline;}  
  .login-box p span b{cursor: pointer;}
  }