<ion-content class="bg">
    <ion-row class="logo-row">
      <!-- <img src="../assets/imgs/img_login_bg.png" class="banner_img" />-->
      <div class="login_sec">
          <ion-row class="top-icons">
              <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                  <!-- <button ion-button icon-left (click)="backtomain()"> 
                    <ion-icon name="arrow-back"></ion-icon>
                      Back
                    </button> -->
              </ion-col>
              <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                <!-- <p text-right>Login</p> -->
              </ion-col>
            </ion-row>
        <ion-col> <img src="assets/imgs/img_logo.png" class="logo_img" /></ion-col>
        <div class="login-box" padding>
            <p>Enter Your E-mail & Password</p>
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-input type="email" value="" [(ngModel)]="userData.username" placeholder="Enter Email" (keyup.enter)="login()"></ion-input>
                  <ion-input type="password" [(ngModel)]="userData.password" placeholder="Enter Password" (keyup.enter)="login()"></ion-input>
                  <button ion-button block class="bluebtn" (keyup.enter)="login()" (click)="login()">Login</button>
                  <hr>
                    <p>
                      <span class="cls_curpointer"(click)="forGotpassPage()">Forgot Password?</span>
                      <span>Need an Account? <b (click)="gotToSignUpPage()">Sign Up Now</b> <!--<b (click)="favtmPage()">Sign Up Now</b>--></span>
                    </p>
                </ion-list>
              </ion-col>
            </ion-row>
            <ion-row>
              <!-- <div class="signup-col">
                <a href="#" ion-button class="submit-btn redbtn" full type="submit">Login with gmail</a>
                <a href="#" ion-button class="submit-btn bluebtn" full type="submit">Login with facebook</a>
                <button ion-button class="register-btn" block clear (click)="createAccount()">Create New Account</button> 
              </div>-->
            </ion-row>
        </div>
      </div>
    </ion-row>
  </ion-content>