<ion-content class="forget-bg">
    <div class="headerbg">
      <ion-row class="top-icons">
        <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
          <button ion-button icon-left (click)="backToProfile()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <div class="logo-center"><img src="assets/imgs/img_logo.png" alt="logo" (click)="goToHomePage()"></div>
    </div>
    <div class="graybg" padding-horizontal>
      <div class="forget-form">
        <ion-list>
          <h1 text-center>Change Password</h1>
          <h3>You want to change your password?</h3>
          <p text-center>No worries, enter the below details and
            <br>we will change your current password</p>
          <h6>Current User : {{this.currentUser.userName}}</h6>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-input type="email" value="" placeholder="E-mail" [(ngModel)]="userData.useremail"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="password" placeholder="Old Password" [(ngModel)]="userData.password"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="password" placeholder="New Password" [(ngModel)]="userData.newpassword"></ion-input>
                </ion-item>
              
                <button ion-button round class="chanbtn" (click)="changepass()">Save</button>
              </ion-list>
            </ion-col>
          </ion-row>
          <!-- <ion-item>
          <ion-input type="email" placeholder="Confirm E-mail"></ion-input>
        </ion-item> -->
        </ion-list>
      </div>
    </div>
  </ion-content>