page-change-password {
    .forget-bg{background: #183e6f; color: #fff;}
    .headerbg .logo-center{text-align: center;} 
    .forget-form{text-align: center;}
    .forget-form h1{margin-top: 0;}
    .forget-form .item-inner { border-bottom: none; border: 0.55px solid #fff;  margin-bottom: 20px; padding: 0 15px; border-radius: 60px;font-size: 15px; background: #fff;}
    .forget-form .item-block{background-color: transparent; padding-left: 0;}
    .forget-form .item-block:first-child { border-top: none;}
    .chanbtn {background: #ff6801;padding: 0 5rem;margin-bottom: 15px;}
}

