page-register {
    .graybg {
        .button-md, .button-md:hover {
            background-color: #1b3c71;
            border-radius: 50px;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
  .headerbg{ background: #1b3c71; text-align: center;}
  .headerbg [text-right]{ cursor: pointer;}
  .top-icons { text-align: left; padding: 0 15px; color:#fff;  text-transform: capitalize;}
  .top-icons button {background: transparent; box-shadow: none; padding: 0; text-transform: capitalize; font-weight: normal;}
  .top-icons button:hover {background: transparent !important;}
  .toolbar-background{ background: #1b3c71;}
  h3 {color: #1b3c71;}
  .toolbar-title { text-align: center; }
  ion-navbar.toolbar{padding: 150px 0;}
  .list .item-block .item-inner{border-bottom: none; border: 0.55px solid #c8c7cc; margin-bottom: 25px; padding: 0 15px; 
      border-radius: 60px; font-size: 15px;}
  .list .item-block:last-child .item-inner{border: 0.55px solid #c8c7cc !important;}
  .list > .item-block:last-child { border-bottom: none; }
  .list .item { padding-left: 0; background-color: transparent;}
  .list hr {width: 280px; margin: 12px auto 30px auto; background-color: #d9d9d9;}
  ion-list.list { margin-bottom: 0;}

  .reg-form{ background: #f7f7f7; padding: 30px 16px 22px; margin: -35px 16px 16px; box-shadow: 0px 0px 4px #999;}
  .reg-btn {background: #1b3c71;  padding: 0 5rem; margin-bottom: 15px;}
  }
