<!--
  Generated template for the OtherfanentryviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <div class="headerbg">
      <ion-row>
        <ion-col col-3>
          <div icon-left (click)="goTobackpage()">
            <ion-icon name="arrow-back"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-6>
          <div class="logo">
            <img src="assets/imgs/logo.png" alt="logo" (click)="goToHomePage()">
          </div>
        </ion-col>
        <ion-col col-3></ion-col>
      </ion-row>
    </div>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="new-profile-content">
    <div class="new-profile">
      <img src="{{singlePostData.profilePicture}}" (click)="goToFriendprofilePage(singlePostData.userId)" alt="profile-user">
      <div><span class="pp_userTxt">{{singlePostData.username}}</span> <br>
      <p class="team_txt1">{{singlePostData.teamName}}</p>
      <span class="pp_userbio_txt">{{userProfileData.userbio}}</span>
    </div>
    </div>
  </div>

  <div class="friend-challenge">
    <p *ngIf="singlePostData.sfcchallengetitle != ''">{{singlePostData.sfcchallengetitle}}</p>
    <p *ngIf="singlePostData.description != ''">{{singlePostData.description}}</p>
    <p *ngIf="singlePostData.tags != ''">
		<span *ngFor="let tag of singlePostData.tagsList; let t = index">
			<span class="taggedFriend" (click)="goToFriendprofilePage(tag.userId)">#{{tag.username}}</span>
		</span>
	</p>
    <div class="otherfan-video" *ngIf="singlePostData.type == 'Video'">
		<video controls>
		  <source src="{{singlePostData.media}}" type="video/mp4">
		</video>
	</div>
    <img *ngIf="singlePostData.type == 'Image'" src="{{singlePostData.media}}">
  </div>
  <div class="hmebox">
    <div class="comment">
      <span>{{singlePostData.likes}}</span>
      <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" name="like" (click)="likePhoto(fabentryPostData.post_id)" *ngIf="singlePostData.likesStatus > 0" class="ornge_like"></ion-icon>
      <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" name="like" (click)="likePhoto(fabentryPostData.post_id)" *ngIf="singlePostData.likesStatus <= 0"></ion-icon>

      <!-- {{singlePostData.share}}
    <ion-icon ios="ios-share-alt" md="md-share-alt" name="share" (click)="sharePhoto(fabentryPostData.post_id)"></ion-icon> -->
      <ion-icon *ngIf="singlePostData.userId == userDetails.user_id" name="trash" class="deleteIcon" (click)="deletePost(fabentryPostData.post_id)"></ion-icon>
      <!-- <ion-icon ios="ios-share" md="md-share" (click)="shareInfo(userProfileData.latestPost.url)"></ion-icon> -->

      <button ion-button clear small color="danger" class="forMobileShare" icon-left (click)="sharePostImage()" style="color: #000; margin-top: -6px; margin-left: -6px; padding-right: 0;">
        <ion-icon ios="ios-share" md="md-share"></ion-icon>
      </button>
      <button ion-button clear small color="danger" class="forWebAppShare" icon-left (click)="webSocialShareFn(fabentryPostData.post_id, fabentryPostData.url,sharableLink)" style="color: #000; margin-top: -6px; margin-left: -6px; padding-right: 0;">
        <ion-icon ios="ios-share" md="md-share"></ion-icon>
      </button>
      <!-- <b class="postLinkTxt">Post Link: </b> -->
      <input class="copyUrlTxt" type="text" value="http://ec2-54-215-172-147.us-west-1.compute.amazonaws.com/chalanges.php/chalange/{{fabentryPostData.post_id}}" #sharableLink readonly>
      <!-- <button class="copyLinkBtn" (click)="copyToClipboard(sharableLink)">Copy link</button> -->
	  <!-- <ion-icon ios="ios-people" md="md-people" (click)="tagFriends(fabentryPostData.post_id)"><span>Tag Friends</span></ion-icon> -->
    </div>

    <div class="commnt_input">
      <ion-item>
        <ion-input type="text" placeholder="Comment" #newComment (keyup.enter)="addComment(fabentryPostData.post_id,newComment.value); newComment.value=''" (keydown.shift.@)="mentionFriends($event,newComment)"></ion-input>
      </ion-item>
      <ion-icon ios="ios-send" md="md-send" (click)="addComment(fabentryPostData.post_id,newComment.value); newComment.value=''"></ion-icon>
      <ul [ngClass]="'comment-list'">
        <li *ngFor="let comment of singlePostData.comments; let i = index" [ngClass]="{'commentdeactive': i > 2 }">
          <div class="left"><img (click)="goToFriendprofilePage(comment.user_id)" src="{{comment.profilepic}}" alt="Profile"></div>
          <div class="right">
            <h6>{{comment.name}}
              <ion-icon *ngIf="comment.user_id == userDetails.user_id" name="trash" class="deleteIcon"
                (click)="deletecomnt(i,comment.comment_id);"></ion-icon>
            </h6>
            <p>{{comment.comment}}</p>
			
			<ul *ngIf="comment.replies > 0" [ngClass]="'reply-list-'+i">
				<li *ngFor="let reply of comment.reply; let k = index" [ngClass]="{'replydeactive': k > 2 }">
				  <div class="left"><img (click)="goToFriendprofilePage(reply.user_id)" src="{{reply.profilepic}}" alt="status"></div>
				  <div class="right">
					<h6>{{reply.name}}
					  <ion-icon *ngIf="reply.user_id == userPostData.user_id" name="trash" class="deleteIcon"
						(click)="deletecomnt(i,k,reply.comment_id);"></ion-icon>
					</h6>
					<p>{{reply.comment}}</p>
				  </div>
				</li>
			</ul>
			<span *ngIf="comment.replies > 3" class="showmore" (click)="showReplies($event)">Show More</span>
			<div class="reply-box">
				<ion-input class="cmnt-reply" type="text" placeholder="Reply" #newReply (keyup.enter)="addCommentReply(comment.comment_id, fabentryPostData.post_id,newReply.value); newReply.value=''" (keydown.shift.@)="mentionFriends($event,newReply)"></ion-input>
				<ion-icon ios="ios-send" md="md-send" (click)="addCommentReply(comment.comment_id, fabentryPostData.post_id,newReply.value); newReply.value=''"></ion-icon>
			</div>
          </div>
        </li>
      </ul>
	  <span *ngIf="singlePostData.commentsCount > 3" class="showmore" (click)="showComments($event)">Show More</span>
    </div>
    <!-- <div class="info">
      <caption>
          <ion-textarea placeholder="Caption"></ion-textarea>
      </caption>
      <ul>
        <li>
          <ion-icon name="heart"></ion-icon>
        </li>
        <li class="comment-icon">
            <img src="assets/imgs/comment-icon.svg" alt="comment-icon">
        </li>
        <li>
            <ion-icon name="share-alt"></ion-icon>
        </li>
        <li>share - <span class="share-link">https://sfcfriend.com</span></li>
      </ul>
      <h5>View all 3 comments<span>July 4</span></h5>
  </div> -->
<div *ngIf="superchallengedata.id">
    <div *ngIf="singlePostData.challenge_type == '#1 Super Fan Challenge'" class="friend-challenge-postbtn">
      <button ion-button (click)="goToDailycompeteviewPage(superchallengedata.id)">Post Your Entry</button>
    </div>
  </div>
  <div *ngIf="bonusdata.id">
    <div *ngIf="singlePostData.challenge_type == 'Bonus Challenge'" class="friend-challenge-postbtn">
      <button ion-button (click)="goToCompetescreenPage(bonusdata.id)">Post Your Entry</button>
    </div>
  </div>
  </div>

</ion-content>

<page-footer></page-footer>