<!--
  Generated template for the SuperfanchallengebonusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <div class="headerbg">
        <ion-row>
          <ion-col col-3></ion-col>
          <ion-col col-6>
            <div class="logo">
              <img src="assets/imgs/logo.png" alt="logo" (click)="goToHomePage()">
            </div>
          </ion-col>
          <ion-col col-3></ion-col>
        </ion-row>
      </div>
    </ion-navbar>
  </ion-header>


<ion-content>
  <div class="pagetitle">SFC Conutdown</div>
  <div class="conutdown"><p>{{timeLeft}}</p></div> 
  <div class="bonuschallenge">
    <div class="pagetitle">Bonus Challenge</div>
    <div class="viewchallenge">
      <div class="left">
        <img src="{{userDetails.profilePicture}}" alt="User">
        <span>{{userDetails.team_name}}</span>
      </div>
      <div class="right">
        <button ion-button (click)="goToCompetescreenPage()">Play Now!</button>
      </div>
    </div>
  </div>
  <div class="pagetitle">ENTRIES</div>
  <div class="videophoto">
    <ul>
      <li *ngFor="let post of posts; let id = index">
        <div><video *ngIf="post.type == 'Video'" controls >
			<source src="{{post.media}}#t=1" type="video/mp4">
		</video>
    <img *ngIf="post.type == 'Image'" src="{{post.media}}">
  </div>
  <div class="click-layer" (click)="goToOtherfanentryviewPage(post.id)">
  </div>
      </li>
    </ul>
  </div>
</ion-content>

<page-footer></page-footer>