page-superfanchallengebonus {
    .toolbar{padding:0; position: relative; height: 75px;}
    .headerbg{ background: #183e6f;  padding: 5px; position: absolute;top: 0;left: 0; right: 0;}
    .headerbg .logo { width: 80px; margin: auto; text-align: center;}
    .headerbg [icon-left] ion-icon{font-size: 36px; color: #fff; padding-top: 15px;}
    .pagetitle{text-align: center; font-size: 20px; color: #f26827; margin-top: 16px; font-weight: bold;}
    .bonuschallenge{background: #183e6f; padding: 10px 0;}
    .viewchallenge{margin: 10px; overflow: hidden;}
    .bonuschallenge .pagetitle{margin-top: 0;}
    .viewchallenge .left{display: inline-flex; width: 65%; float: left;}
    .viewchallenge .left img{width: 70px; height: 70px; border-radius: 50%; margin-right: 10px; border: 2px solid #fff;}
    .viewchallenge .left span {color: #fff; font-size: 18px; display: inline-table;  margin-top: 15px;}
    .viewchallenge .right{width: 35%; float: right; text-align: center; margin-top: 11px;}
    .viewchallenge .right .button{background-color: #f26827; font-size: 14px;}
    .videophoto{text-align: center; margin-top: 16px;}
    .videophoto ul{margin: 0; padding: 0; list-style: none;}
    .videophoto ul li{width: 32%; display: inline-block; font-size: 0; background: #183e6f;}
    .videophoto ul li video{width: 100%; height: 80px;}

    .conutdown {text-align: center;margin: 15px 0; font-size: 24px;}
    .conutdown p{display: inline-block; background: #f26827;color: #fff;border-radius: 5px; padding: 8px 16px;  margin: 0;  font-size: 20px;}

    .scroll-content{margin-bottom: 45px !important;}
    .footer:before{background-image: none !important;}
    .footer .toolbar{min-height: 54px;}
    .footer .toolbar-background{border: none !important; background: transparent;}
    .footer ul {padding: 0; list-style: none; text-align: center;  margin: 0; border-top: 1px solid #c6c6c6; background: #fff;}
    .footer ul li{margin: 0px 5%; display: inline-block;}
    .footer ul li a img{width: 24px;}
    .footer .footer-logo {margin-top: -10px; }
    .footer .footer-logo a img{width: 42px;} 

    .click-layer {position: absolute; width: 100%; height: 100%; background: transparent; z-index: 1; top: 0px;}
    
}
