page-community {
    .toolbar{padding:0; position: relative; height: 75px;}
    .headerbg{ background: #183e6f;  padding: 5px; position: absolute;top: 0;left: 0; right: 0;}
    .headerbg .logo { width: 80px; margin: auto; text-align: center;}
    .headerbg [icon-left] ion-icon{font-size: 36px; color: #fff; padding-top: 15px;}
    .searchbarbox .searchbar{padding: 0; background: transparent; border: none;}
    .searchbarbox .searchbar-search-icon {left: inherit; right: 10px; top: 10px;}
    .searchbarbox .searchbar-input { padding: 5px 30px 5px 10px !important; border-radius: 5px; background: #f4f4f4; height: 3.5rem;}
    .searchbarlist{margin: 16px;}
    .searchbarlist ul{margin: 0; padding: 0; list-style: none;}
    .searchbarlist ul li{margin-bottom: 20px; overflow: hidden;}
    .searchbarlist ul li .left{display: inline-flex; width: 70%; float: left;}
    .searchbarlist ul li .left img{width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;}
    .searchbarlist ul li .left p {color: #183e6f; font-size: 15px; margin: 0; padding-top: 8px;}
    .searchbarlist ul li .left p span{display: block; color: #f26827; font-size: 11px;}
    .searchbarlist ul li .right{width: 30%; float: right; text-align: center;}
    .searchbarlist ul li .right .icon{font-size: 48px; color: #f26827;cursor: pointer;}
    .build{display:none;}
	.pagetitle{text-align: center; font-size: 20px; color: #333; margin: 16px 0; text-shadow: 1px 1px 1px #ccc;}
    .addfriends {text-align: center;}
    .addfriends .button{background-color: #f26827;}
    .opacityclass{opacity: 0.1;}

    .requestSent button {font-size: 13px; white-space: normal; line-height: 15px; cursor: default; background-color: #f26827; opacity: 0.5;}



    ion-footer {
        .toolbar-background {
            border-color: #f26827;
            background: #f26827;
        }
        ion-icon {
            color: #fff;
            font-size: 30px;
            vertical-align: top;
            width: 19%;
            text-align: center;
        }
         .icon img {
            margin-top: 4px;
        }
    }

}
