<!--
  Generated template for the EditprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <div class="headerbg">
      <ion-row>
        <ion-col col-3>
          <div icon-left (click)="editProfileCancleBtn()">
            <ion-icon name="arrow-back"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-6>
          <div class="logo">
            <img src="assets/imgs/logo.png" alt="logo" (click)="goToHomePage()">
          </div>
        </ion-col>
        <ion-col col-3>
          <div class="header-right">
            <button ion-button (click)="updateuserprofile()">Done</button>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="edit-profile-contant">
    <div class="change-image-sec">
      <p>Edit Profile</p>
      <div class="change-img">
        <img (click)="goToProfileUploadPage()" src="{{userProfileData.profilePicture}}" alt="{{userProfileData.userName}}">
      </div>
      <span (click)="goToProfileUploadPage()">Change Profile Photo</span>
      <span (click)="goToChangePasswordPage()">Change Password</span>
    </div>

    <div class="change-profile-form">
      <ion-list>
          <ion-item>
              <ion-label>Username :</ion-label>
              <ion-input type="text" [(ngModel)]="userProfileData.username" value="{{userProfileData.username}}" name="username" ></ion-input>
            </ion-item>

        <!-- <ion-item>
            <ion-label>Bio :</ion-label>
            <ion-input type="text" value="" name="Bio"></ion-input>
          </ion-item> -->

        <ion-item>
          <ion-label>Your Team :</ion-label>
          <ion-input type="text" (click)="changeTeam()" value="{{selectedTeamData.team_name}}" name="team" readonly></ion-input>
        </ion-item>
		<ion-item>
          <ion-label>Bio :</ion-label>
          <ion-input type="text" [(ngModel)]="userProfileData.bio" value="{{userProfileData.bio}}" name="bio"></ion-input>
        </ion-item>

        <h4>Private Information</h4>

		<ion-item>
		  <ion-label>Full Name :</ion-label>
		  <ion-input type="text" [(ngModel)]="userProfileData.userName" value="{{userProfileData.userName}}" name="name" readonly></ion-input>
		</ion-item>
		
        <ion-item>
          <ion-label>Email :</ion-label>
          <ion-input type="email" value="{{userProfileData.email}}" name="email" readonly></ion-input>
        </ion-item>

        <!-- <ion-item>
              <ion-label>Phone :</ion-label>
              <ion-input type="text" [(ngModel)]="userProfileData.phone" value="{{userProfileData.phone}}" name="phone" ></ion-input>
          </ion-item> -->

        <ion-item>
          <ion-label>City :</ion-label>
          <ion-input type="text" [(ngModel)]="userProfileData.city" value="{{userProfileData.city}}" name="city"></ion-input>
        </ion-item>

        <!-- <ion-item>
          <ion-label>DOB :</ion-label>
          <ion-input type="text" [(ngModel)]="userProfileData.dob" value="{{userProfileData.dob}}" name="dob"></ion-input>
        </ion-item> -->
		<ion-item>
          <ion-label>DOB :</ion-label>
		  <ion-datetime displayFormat="MM-DD-YYYY" pickerFormat="MM-DD-YYYY" [(ngModel)]="userProfileData.dob" placeholder="Enter Birth Day (MM-DD-YYYY)" class="profile-dob"></ion-datetime>
        </ion-item>
		<button (click)="logout()">Log Out</button>
      </ion-list>
    </div>

  </div>
</ion-content>

<page-footer></page-footer>