<ion-content class="forget-bg">
  <div class="headerbg">
    <ion-row class="top-icons">
      <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
        <button ion-button icon-left (click) = "backmain()">
          <ion-icon name="arrow-back"></ion-icon>
          
        </button>

      </ion-col>

      <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
        <p text-right>Forgot Password</p>
      </ion-col>
    </ion-row>
    <img text-center src="assets/imgs/img_logo.png" alt="logo">
  </div>
  <div class="graybg" padding-horizontal>
    <div class="forget-form">
      <ion-list>
        <h1 text-center>Oh no,</h1>
        <h3>You forgot your password</h3>
        
        <p text-center>No worries, enter your email and we will send you
          <br> an email to reset your password</p>

          <ion-item>
              <ion-input type="email"  value="" placeholder="E-mail" [(ngModel)]="userData.useremail"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="email"  value="" placeholder="Confirm e-mail" [(ngModel)]="userData.useremailconfirm"></ion-input>
            </ion-item>

        <!-- <ion-item>
          <ion-input type="email" placeholder="Confirm E-mail"></ion-input>
        </ion-item> -->
      </ion-list>
    </div>
    <div text-center>
      <button ion-button round class="forget-btn" (click)="forgotpass()">Reset</button>
    </div>
  </div>
</ion-content>