page-fanranking {
    .toolbar{padding:0; position: relative; height: 75px;}
    .headerbg{ background: #183e6f;  padding: 5px; position: absolute;top: 0;left: 0; right: 0;}
    .headerbg .logo { width: 80px; margin: auto; text-align: center;}
    .headerbg [icon-left] ion-icon{font-size: 36px; color: #fff; padding-top: 15px;}
    
    .fanranking-search {margin-top: 15px;}
    .fanranking-search .searchbar { background: transparent; border: none;}
    .fanranking-search .searchbar-search-icon {left: inherit; right: 11px; top: 8px;}
    .fanranking-search .searchbar-input { padding: 3px 40px 3px 15px; border-radius: 5px;}
    .fanranking-search .searchbar-input{background-color: #f4f4f4 !important;}
    .pagetitle{ text-align: center; font-size: 20px; color: #f26827; padding: 10px; 
        margin: 10px 0; font-weight: bold;}
    
    .pagetitle h2 {margin: 0; color: #183e6f;}

    .fanranking-search .searchbar-clear-icon {
        display: none !important;
    }
     
    .ranking-table-row {text-align: center; color: #183e6f; border-top: 1px solid #f4f4f4;  padding: 8px 0;}
    .rank-left h1 {margin: 0; color: #f26827; }
    .rank-left p {margin: 5px 0 0;}
    .rank-left p span { display: block;}
    .rank-user {width: 70px; height: 70px; border-radius: 100%; overflow: hidden; margin: 0 auto;}
    .rank-user img {height: 100%;  width: 100%;cursor: pointer;}
    .rank-mid p { margin: 6px 0 0; }
    .rank-right { width: 100%; left: 50%; position: absolute; top: 50%;  transform: translate(-50%, -50%) !important; padding-right: 15px;}

}
