<!--
  Generated template for the FanrankingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<page-header></page-header>

<ion-content>
  <div class="fanranking-contant mrgn_top76">
    <div class="fanranking-search">
      <ion-searchbar (ionInput)="filterTechnologies($event.target.value)" placeholder="Search for specific player"></ion-searchbar>
    </div>
    <div class="pagetitle">
      <h2>FAN RANKING</h2>
      SFC Overall Rankings
    </div> 
  </div>
  <div class="ranking-table">
    <div class="ranking-table-row" *ngFor="let fanrankingdatalist of fanrankingdataSet">
      <ion-row>
        <ion-col col-3>
          <div class="rank-left">
            <h1>#{{fanrankingdatalist.rank}}</h1>
            <p>{{fanrankingdatalist.likecount}}<span>Points</span></p>
          </div>
        </ion-col>
        <ion-col col-6>
          <div class="rank-mid">
            <div class="rank-user" (click)="goToFriendprofilePage(fanrankingdatalist.user_id)"><img src="{{fanrankingdatalist.profilePicture}}"
                alt="{{fanrankingdatalist.username}}"></div>
            <p>{{fanrankingdatalist.username}}</p>
          </div>
        </ion-col>
        <ion-col col-3>
          <div class="rank-right">
            <p>{{fanrankingdatalist.team_name}}</p>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ul>
      <li class="home_icn"><span (click)="goToHomePage()"></span></li>
      <li class="explore_icn"><span (click)="goToexploreScreen()"></span></li>
      <li class="footer-logo fan_icon_footer"><span (click)="goToSuperfanchallengePage()"></span></li>
      <li class="leaderboard_icn page_active_icon"><span (click)="goTofanRankingPage()"></span></li>
      <li class="profileimg_icn"><span (click)="goToprofilePage()"></span></li>
    </ul>
  </ion-toolbar>
</ion-footer>
<!-- <page-footer></page-footer> -->