page-profile {
    .toolbar{padding:0; position: relative; height: 75px;}
    .headerbg{ background: #183e6f;  padding: 5px; position: absolute;top: 0;left: 0; right: 0;}
    .logo {text-align: center;}
    .logo img {width: 80px;}
    .new-profile-content-padding{padding: 10px 0 10px 10px;}
    .new-profile-image {width: 75px;  height: 75px; text-align: center;  border-radius: 100%;  overflow: hidden; float: left; background: #c8c8c8;}
    .new-profile-image img { width: 100%; height: 100%;cursor: pointer;} 
    .new-profile-image ion-icon { margin-left: 3px;  font-size: 34px; color: #f26827; margin-top: 22px; font-weight: bold;}
    
    .username { display: inline-block; margin-left: 10px;}
    .username p { color: #183e6f; font-size: 15px;}
    .username p span{display: block; font-size: 11px; color: #555;}
    .team-name{margin-top: 10px; border-left: 2px solid #183e6f;  padding-left: 10px;}
    .team-name p {font-size: 14px; background: #eaeaea; color: #183e6f; padding: 10px 14px; margin: 0; }

    .new-profile-btns{margin: 30px 0;}
    .new-profile-btns ul { padding: 0; margin: 0; list-style: none; text-align: center;}
    .new-profile-btns ul li { display: inline-block; margin: 0px 2.5%;}
    .new-profile-btns ul li button {text-decoration: none; color: #fff; background: #f26827; padding: 7px 12px; font-size: 14px;
        border-radius: 5px;}
    .new-profile-btns ul li:first-child {margin-left: 0;}
    .new-profile-btns ul li:last-child {margin-right: 0;}
    .bio-text{margin-top: 15px;}  
    .profile-frient-count ul { padding: 0;  list-style: none; text-align: center;} 
    .profile-frient-count ul li{display: inline-block; margin-right: 20px;}
    .profile-frient-count ul li:last-child { margin-right: 0;}
    .profile-frient-count ul li a { font-size: 15px; text-decoration: none; color: #143f76;}  
    .profile-frient-count ul li a span { display: block; font-weight: bold; font-size: 16px;}
    
    .new-profile-challenage {text-align: center; margin-top: -5px; padding: 36px 0 15px; background: #ebebeb;     position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;padding-left: 14px;}
    .new-profile-challenage p{color: #183e6f; font-size: 18px;} 
    .new-profile-challenage ion-icon{font-size: 60px; color: #183e6f;}
    
    .videophoto{text-align: center; margin-top: 15px;}
    .videophoto ul{margin: 0; padding: 0; list-style: none;}
    .videophoto ul li .postContant {width: 32%; /*display: inline-block;*/ font-size: 0; background: #183e6f; margin: 1px; float: left;cursor: pointer;position:relative;}
    .videophoto ul li video, .videophoto ul li img{width: 100%; height: 80px;}
	.username {
        p {
            font-size: 17px;
            margin-top: 5px;
            /*text-transform: capitalize;*/
            b {
                display: block;
                font-weight: normal;
                font-size: 13px;
				margin-top:3px;
				margin-bottom:12px;
            }
        }
    }
	.click-layer {position: absolute; width: 100%; height: 100%; background: transparent; z-index: 1; top: 0px;  cursor: pointer;}
	.username p strong { text-transform: none; }
}
