<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<page-header></page-header>

<ion-content>

  <div class="new-profile-content mrgn_top76">
    <div class="new-profile-content-padding">
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
          <div class="new-profile-image">
            <!-- <ion-icon ios="ios-add" md="md-add"></ion-icon> -->
            <img (click)="goToProfileUploadPage()" src="{{userProfileData.profilePicture}}" alt="profile_pic">
          </div>
          <div class="username">
            <p><strong>{{userProfileData.username}}</strong>
              <b>{{userProfileData.userTeams}}</b>
              <span>{{userProfileData.bio}}</span>
			</p>
          </div>
        </ion-col>

        <!-- <ion-col col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5>
          <div class="team-name">
            <p>{{userProfileData.userTeams}}</p>
          </div>
        </ion-col> -->
      </ion-row>
    </div>
    <div class="new-profile-btns">
      <ul>
        <li><button (click)="goToFriendsPage()">Friends</button></li>
        <li><button (click)="goToeditProfilePage()">Edit Profile</button></li>
        <!-- <li><button (click)="logout()">Log Out</button></li> -->
      </ul>
    </div>
    <div class="profile-frient-count">
      <ul>
        <li>
          <a href="#">Friends
            <span>{{userProfileData.userFriendsCount}}</span>
          </a>
        </li>
        <li>
          <a href="#">Points
            <span>{{userProfileData.getUserPointsRanks.likecount}}</span>
          </a>
        </li>
        <li>
          <a href="#">Rank
            <span>{{userProfileData.getUserPointsRanks.rank}}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="new-profile-challenage" *ngIf="posts ==''">
      <p>Post a challenge<br> entry to see it here !</p>
      <ion-icon name="arrow-round-down"></ion-icon>
    </div>
  </div>
  <div class="videophoto" *ngIf="posts !=''">
    <ul>
      <li *ngFor="let post of posts; let id = index">
        <div class="postContant" *ngIf="post.type != ''">
          <img *ngIf="post.type == 'Image'" src="{{post.media}}">
          <video *ngIf="post.type == 'Video'" controls>
            <source src="{{post.media}}#t=1" type="video/mp4">
          </video>
		  <div class="click-layer" (click)="goToOtherfanentryviewPage(post.id)"></div>
        </div>
      </li>
    </ul>
	<br>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="userPostData.page <= userPostData.totalPage">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
	</ion-infinite-scroll>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ul>
      <li class="home_icn"><span (click)="goToHomePage()"></span></li>
      <li class="explore_icn"><span (click)="goToexploreScreen()"></span></li>
      <li class="footer-logo fan_icon_footer"><span (click)="goToSuperfanchallengePage()"></span></li>
      <li class="leaderboard_icn"><span (click)="goTofanRankingPage()"></span></li>
      <li class="profileimg_icn page_active_icon"><span (click)="goToprofilePage()"></span></li>
    </ul>
  </ion-toolbar>
</ion-footer>
<!-- <page-footer></page-footer> -->