<page-header></page-header>

<ion-content padding>
  <!-- <button ion-button block class="bluebtn" (click)="videoCaptureFn()">Video Capture</button> -->
  <ion-row class="postToprow mrgn_top76">
    <span class="hme_profile_pic"><img src="{{userProfileData.profilePicture}}" (click)="goToFriendprofilePage(userPostData.user_id)"></span>
    <ion-textarea placeholder="Talk some smack..." [(ngModel)]="userProfileData.postText">{{this.userProfileData.postText}}</ion-textarea>
    <span class="txt_ico">
      <button ion-button (click)="createPost()" class="post_btn_hme">Post</button>
      <ion-icon ios="ios-add-circle" md="md-add-circle" (click)="uploadPostimgvideo()"> Media</ion-icon>
      <ion-icon ios="ios-images" md="md-images" (click)="takePhoto()"> Photos</ion-icon>
	  <!-- <ion-icon ios="ios-people" md="md-people" (click)="tagFriends()"><span>Tag Friends</span></ion-icon> -->
      <!-- <ion-icon ios="ios-send" md="md-send" (click)="createPost()">Post</ion-icon> -->
	  <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    </span>
	<div class="taggedFriends" *ngIf="userProfileData.postTags != ''">Tagged Friends : {{userProfileData.postTags}}</div>
    <div class="challengevideo" *ngIf="userProfileData.postType!=''">
      <video *ngIf="userProfileData.postType == 'Video'" controls>
        <source src="{{userProfileData.postMedia}}#t=1" type="video/mp4">
      </video>
      <img *ngIf="userProfileData.postType == 'Image'" src="{{userProfileData.postMedia}}">
      <div class="closebtn" (click)="removePhoto()"><ion-icon name="close"></ion-icon></div>
    </div>
  </ion-row>

  <ion-row class="hme_postRow">
    <div class="hmebox" *ngIf="latestPosts">
      <div class="paddingpost" *ngFor="let latestPost of latestPosts; let i = index">
        <span class="hme_profile_pic"><img (click)="goToFriendprofilePage(latestPost.userId)" src="{{latestPost.profilePicture}}">  
          <div>      <b class="hme_profile_pic_txt">{{latestPost.username}}</b>
          <dd>{{latestPost.userTeams}}</dd>
        </div>  
          </span>
        <div class="post_caption_txt challenge_name" *ngIf="latestPost.challengeName != ''"> {{latestPost.challengeName}} </div>
        <div class="post_caption_txt" *ngIf="latestPost.description != ''">{{latestPost.description}}</div>
        <div class="post_caption_txt" *ngIf="latestPost.tags != ''">Tagged Friends : 
			<span *ngFor="let tag of latestPost.tagsList; let t = index">
				<span class="taggedFriend" (click)="goToFriendprofilePage(tag.userId)">#{{tag.username}}</span>
			</span>
		</div>
        <div class="post_video_hme">
          <video *ngIf="latestPost.type == 'Video'" preload="metadata" webkit-playsinline="webkit-playsinline" controls>
            <source src="{{latestPost.media}}#t=1" type="video/mp4">
          </video>
          <img *ngIf="latestPost.type == 'Image'" src="{{latestPost.media}}">
		  <div class="click-layer" (click)="goToOtherfanentryviewPage(latestPost.id)"></div>
        </div>
        <div class="comment">
          <span>{{latestPost.likes}}</span>
          <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" name="like" (click)="likePhoto(i, latestPost.id)" *ngIf="latestPost.likesStatus > 0" class="ornge_like"></ion-icon>
          <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" name="like" (click)="likePhoto(i, latestPost.id)" *ngIf="latestPost.likesStatus <= 0"></ion-icon>
          <!-- {{latestPost.share}} -->
          <!-- <ion-icon ios="ios-share-alt" md="md-share-alt" name="share" (click)="sharePhoto(latestPost.id)"></ion-icon> -->
          <ion-icon name="trash" class="deleteIcon" *ngIf="latestPost.userId == userDetails.user_id" (click)="deletePost(i, latestPost.id)"></ion-icon>
          <button ion-button clear small color="danger" class="forMobileShare" icon-left (click)="sharePostImage()" style="color: #000; margin-top: -6px; margin-left: -6px; padding-right: 0;">
            <ion-icon ios="ios-share" md="md-share"></ion-icon>
          </button>
          <button ion-button clear small color="danger" class="forWebAppShare" icon-left (click)="webSocialShareFn(latestPost.id,latestPost.url,sharableLink)" style="color: #000; margin-top: -6px; margin-left: -6px; padding-right: 0;">
            <ion-icon ios="ios-share" md="md-share"></ion-icon>
          </button>
          <!-- <b class="postLinkTxt">Post Link: </b> -->
          <input class="copyUrlTxt" type="text" value="http://ec2-54-215-172-147.us-west-1.compute.amazonaws.com/chalanges.php/chalange/{{latestPost.id}}" #sharableLink readonly>
          <!-- <button class="copyLinkBtn" (click)="copyToClipboard(sharableLink)">Copy link</button> -->
          <!-- <ion-icon ios="ios-share" md="md-share" (click)="shareInfo(latestPost.url)"></ion-icon> -->
        </div>
        <div class="commnt_input">
          <ion-item>
            <ion-input type="text" placeholder="Comment" #newComment (keyup.enter)="addComment(i, latestPost.id,newComment.value); newComment.value=''" (keydown.shift.@)="mentionFriends($event,newComment)"></ion-input>
          </ion-item>
          <ion-icon ios="ios-send" md="md-send" (click)="addComment(i, latestPost.id,newComment.value); newComment.value=''"></ion-icon>
          <ul [ngClass]="'comment-list-'+i">
            <li *ngFor="let comment of latestPost.comments; let c = index" [ngClass]="{'commentdeactive': c > 2 }">
              <div class="left"><img (click)="goToFriendprofilePage(comment.user_id)" src="{{comment.profilepic}}" alt="status"></div>
              <div class="right">
                <h6>{{comment.name}}
                  <ion-icon *ngIf="comment.user_id == userPostData.user_id" name="trash" class="deleteIcon"
                    (click)="deletecomnt(i,c,comment.comment_id);"></ion-icon>
                </h6>
                <p [innerHTML]="comment.comment | safeHtml"></p>
				
				<ul *ngIf="comment.replies > 0" [ngClass]="'reply-list-'+c">
					<li *ngFor="let reply of comment.reply; let k = index" [ngClass]="{'replydeactive': k > 2 }">
					  <div class="left"><img (click)="goToFriendprofilePage(reply.user_id)" src="{{reply.profilepic}}" alt="status"></div>
					  <div class="right">
						<h6>{{reply.name}}
						  <ion-icon *ngIf="reply.user_id == userPostData.user_id" name="trash" class="deleteIcon"
							(click)="deletecomnt(i,k,reply.comment_id);"></ion-icon>
						</h6>
						<p [innerHTML]="reply.comment | safeHtml"></p>
					  </div>
					</li>
				</ul>
				<span *ngIf="comment.replies > 3" class="showmore" (click)="showReplies($event)">Show More</span>
				<div class="reply-box">
					<ion-input class="cmnt-reply" type="text" placeholder="Reply" #newReply (keyup.enter)="addCommentReply(comment.comment_id, latestPost.id,newReply.value); newReply.value=''" (keydown.shift.@)="mentionFriends($event,newReply)"></ion-input>
					<ion-icon ios="ios-send" md="md-send" (click)="addCommentReply(comment.comment_id, latestPost.id,newReply.value); newReply.value=''"></ion-icon>
				</div>
              </div>
            </li>
          </ul>
		  <span *ngIf="latestPost.commentsCount > 3" class="showmore" (click)="showComments($event)">Show More</span>
        </div>
      </div>
	  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="userPostData.page <= userPostData.totalPage">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
	  </ion-infinite-scroll>
    </div>
  </ion-row>

  <ion-row class="hme_triviaGameRow">
      <span class="hme_profile_pic"><img (click)="goToFriendprofilePage(userPostData.user_id)" src="{{userProfileData.profilePicture}}"></span>
      <b class="hme_profile_pic_txt">Trivia Game</b>
      <div class="triviagameBgParent" [ngClass]="{'triviagamedisplay':   userProfileData.gameStatus === 'Played' }">
        <div class="boxtitle" [ngClass]="{'showboxtitle': userProfileData.gameStatus === 'Played' }">
          <p>{{userProfileData.gameMessage}}</p>
        </div>
        <div class="triviagameBg" [ngClass]="{'newuseropt': userProfileData.gameStatus != 'Played' }" *ngFor="let game of userProfileData.triviaGame; let i = index">
          <div class="extra_earn">{{game.title}}</div>
          <p>{{game.question}}</p>
          <ion-list radio-group [(ngModel)]="autoManufacturers">
            <ion-item>
              <ion-label>{{game.option1}}</ion-label>
              <ion-radio value="{{game.option1}}" (ionSelect)="tvgAnswer(game.option1)"></ion-radio>
            </ion-item>
  
            <ion-item>
              <ion-label>{{game.option2}}</ion-label>
              <ion-radio value="{{game.option2}}" (ionSelect)="tvgAnswer(game.option2)"></ion-radio>
            </ion-item>
  
            <ion-item>
              <ion-label>{{game.option3}}</ion-label>
              <ion-radio value="{{game.option3}}" (ionSelect)="tvgAnswer(game.option3)"></ion-radio>
            </ion-item>
  
            <ion-item>
              <ion-label>{{game.option4}}</ion-label>
              <ion-radio value="{{game.option4}}" (ionSelect)="tvgAnswer(game.option4)"></ion-radio>
            </ion-item>
          </ion-list>
          <div class="submit"><button ion-button (click)="submitGame()">Submit</button></div>
        </div>
      </div>
    </ion-row>

  <!-- <button ion-button block class="bluebtn" (click)="videoCaptureFn()">Video Capture</button> -->
  <!-- <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
	<button ion-button block class="bluebtn" (click)="loginPage()">Login</button>
	<button ion-button block class="bluebtn" (click)="signupPage()">Signup</button>
	<button ion-button block class="bluebtn" (click)="goToFavteamPage()">Favorite Team </button>
	<button ion-button block class="bluebtn" (click)="goToProfilePage()">Profile</button>
	<button ion-button block class="bluebtn" (click)="goToCommunityPage()">Community Page</button>
	<button ion-button block class="bluebtn" (click)="goToSuperFanChallengePage()">Super Fan Challenge Page</button>
	<button ion-button block class="bluebtn" (click)="goToSuperfanchallengebonusPage()">Super Fan Challenge Bonus Page</button>
	<button ion-button block class="bluebtn" (click)="goToFriendprofilePage(12)">Friend Profile Page</button>
	<button ion-button block class="bluebtn" (click)="goToOtherfanentryviewPage()">Other Fan Entry View Page</button>
	<button ion-button block class="bluebtn" (click)="goToFanrankingPage()">Fan Ranking Page</button>
  </p> -->
</ion-content>
<!-- <page-footer></page-footer> -->
<ion-footer>
    <ion-toolbar>
      <ul>
        <li class="home_icn page_active_icon"><span (click)="goToHomePage()"></span></li>
        <li class="explore_icn"><span (click)="goToexploreScreen()"></span></li>
        <li class="footer-logo fan_icon_footer"><span (click)="goToSuperfanchallengePage()"></span></li>
        <li class="leaderboard_icn"><span (click)="goTofanRankingPage()"></span></li>
        <li class="profileimg_icn"><span (click)="goToprofilePage()"></span></li>
      </ul>
    </ion-toolbar>
  </ion-footer>
<!-- <page-tab></page-tab> -->