page-home {
    font-family: Arial, Helvetica, sans-serif;
    ion-header .show-back-button {
        display: none !important;
    }
    .hme_profile_pic {
        display: inline-flex;
        img {
            border-radius: 50%;
            width: 42px;
            height: 42px;
			cursor: pointer;
        }
        dd {
            margin-left: 13px;
            font-size: 12px;
            color: #183e6f;
        }
    }
    .hme_profile_pic_txt {
        display: inline-block;
        color: #1b3c71;
        padding: 6px 13px;
        padding-bottom: 2px;
    }
    .hme_postRow{
        padding-bottom: 30px;
    }
    .postToprow {
        padding-bottom: 30px;
        textarea {
            background: #eaeaea;
            margin: 4px;
            margin-left: 12px;
            border-radius: 5px;
            height: 40px;
            padding-left: 12px;
            padding-top: 10px;
            font-size: 12px;
        }
        .txt_ico {
            padding-top: 8px;
            display: block;
            width: 100%;
            font-size: 12px;
            padding-left: 56px;
            ion-icon {
                padding-right: 12px;
				cursor: pointer;
            }
            .post_btn_hme {
                float: right;
                font-size: 11px;
                padding: 2px 18px;
                background: #183e6f;
                height: 28px;
                margin-top: -4px;
                margin-right: 5px;
                cursor: pointer;
            }
        }
    }
    .hme_postRow {
        .post_caption_txt {
            width: 100%;
            padding: 5px 5px;
            color: #1b3c71;
            font-size: 16px;
			  line-height: 22px;
        }
        .post_video_hme {
            width: 100%;
            video {
                width: 100%;
                max-width: 100%;
				cursor: pointer;
            }
        }
    }
    .extra_earn {
        width: 100%;
        line-height: 26px;
        padding: 16px 5px;
    }
    ion-list {
        width: 100%;
        .item-md {
            padding-left: 18px;
            font-size: 14px;
            font-weight: bold;
        }
    }
    .challengevideo {
        padding-left: 56px;
        padding-top: 12px;
        position:relative;
        img, video {
            width: 100px;
        }
    }
    .post_video_hme {
        img, video {
            width: 100%;
        }
    }
	.boxtitle{
		width: 100%;
		text-align: center;
		margin-top:16px;
		display:none;
	}
	.boxtitle p{
		background-color: #f26827;
		padding: 10px;
		color: #fff;
		font-size: 15px;
		text-transform: uppercase;
		border-radius: 5px; 
	}
	.showboxtitle{
        display:block;
        position: absolute;
        top: 40%;
        opacity: 1;
        left: 0;
        right: 0;
        margin: 0px auto;
        width: 275px;
        z-index: 1; 
    } 
    .newuseropt{opacity: 1;}
	.triviagameBgParent{width:100%;}
	.triviagamedisplay{position: relative; z-index: -1;}
	
	.submit{text-align:center;}
    .submit .button{background:#1b3c71;}
    

	.comment {
        padding: 10px 0;
        font-size: 16px;
    }
    .comment .icon {
        margin-right: 10px;
        font-size: 18px;
		cursor: pointer;
    }
    .hmebox {
        width: 100%;
    }
    .commnt_input {
        margin-bottom: 15px;
        position: relative;
    }
    .commnt_input .item {
        padding-left: 0;
        margin-bottom: 15px;
        font-size: 14px;
    }
    .commnt_input .icon {
        position: absolute;
        top: 15px;
        right: 10px;
        font-size: 20px;
		cursor: pointer;
    }
    .commnt_input ul{
        margin: 0; 
        padding: 0; 
        list-style: none;
        float: left; 
        width: 100%;
    }
    .commnt_input ul li {
        width: 100%;
        float: left;
        margin-bottom: 16px;
    }
    .commnt_input ul .left img {
        width: 42px;
        height: 42px;
        border-radius: 50%;
		cursor: pointer;
    }
    .commnt_input ul .left {
        float: left;
    }
    .commnt_input ul .right{
        float: right;
        width: 85%;
    }
    .commnt_input ul .right h6{
        position: relative;
        color: #1b3c71;
        padding-top: 13px;
        font-weight: bold;
        font-size: 1.4rem;
    }
    .commnt_input ul .right h6 .icon{
        position: absolute; 
        right: 0;
        font-size: 20px;
        color: #000;
    }
	.paddingpost {
        background: rgba(24,62,111,0.1);
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 15px;
        overflow: hidden;
    }
	.item-input ion-input .text-input{
        margin: 10px;
        width: 100%;
    }
    ion-footer ul {
        margin-bottom: 0 !important;
    }
    .challengevideo .closebtn {
		position: absolute;
		top: 0;
		right: -13px;
		color: #fff;
		background: #ff6700;
		border-radius: 100%;
		width: 30px;
		height: 30px;
		font-size: 18px;
		text-align: center;
		padding: 2px;
		line-height: 30px;
		cursor: pointer;
	}
	.hme_postRow .post_video_hme {
        overflow: hidden;
		position:relative;
    }
    
    .hme_postRow .post_video_hme video {
        max-height: 600px;
        object-fit: cover;
    }
	.post_caption_txt.challenge_name { font-weight: bold; padding: 15px 5px 8px;}
	
	.reply-box {float: left; width: 100%; position: relative;}
	.cmnt-reply{ background-color: #fff; margin: 0; border-radius: 5px; padding-left: 7px;	}
	.replydeactive{display:none;}
	.replyactive{display:block;}
	.btndeactive{display:none;}
	.commentdeactive{display:none;}
	.commentactive{display:block;}
	.taggedFriend{ font-style: italic; cursor: pointer; }
	.ctaggedfriend{ font-weight: bold; cursor: pointer; color:#1b3c71; }
	.showmore { font-weight: bold; color: #1b3c71; margin-bottom: 8px; display: block; cursor:pointer; }
}
