<!--
  Generated template for the HeaderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <div class="headerbg">
      <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-6>
          <div class="logo">
            <img src="assets/imgs/logo.png" alt="logo" (click)="goToHomePage()">
          </div>
        </ion-col>
        <ion-col col-3 class="header_notification"><div class="header_notification"><ion-icon name="notifications"><span *ngIf="notificationsCount > 0" (click)="goToNotificationPage()">{{notificationsCount}}</span></ion-icon></div><ion-icon name="log-out" (click)="logout()" class="cls_curpointer"></ion-icon></ion-col>
      </ion-row>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
