page-notification {

    .toolbar{padding:0; position: relative; height: 75px;}
    .headerbg{ background: #183e6f;  padding: 5px; position: absolute;top: 0;left: 0; right: 0;}
     .headerbg .logo { width: 80px; margin: auto; text-align: center;}
     .headerbg [icon-left] ion-icon{font-size: 36px; color: #fff; padding-top: 15px;}
    
     .notification-contant{color: #183e6f; }
     .request-notification {padding: 0 5px;}
     .req-left{display: inline-flex;}
     .req-left img { width: 70px;  height: 70px;  border-radius: 100%; margin-right: 10px; cursor: pointer;} 
     .req-left p{color: #183e6f; cursor: pointer; position: relative;} 
     .req-left p span{display: block; font-size: 11px; color:#999; margin-top:5px;} 
     .req-right{width:40%; float: right; text-align: right;}
     .req-right button {background: #f26827; height: 2em; font-size: 13px; width: 90px;}
     .req-row {margin: 18px 0 8px; float: left; width:100%;}
    
      hr {height: 2px; background-color: transparent !important; border-top: 1px solid #ccc;}
     .timeline-notification{padding: 0 5px;}
     .timeline-notification h5 {margin-top: 10px;}
    
     .req-left.time img {float: left;}
     .req-left.time .time-text {float: left; margin-top: 5px;}
     .req-left.time { width: 100%;} 
     .mark-read {position: absolute;right: 20px;} 
     .mark-read ion-icon{font-size: 24px; font-weight: bold; cursor: pointer;} 
     .req-left p span.comt{font-size: 1.4rem;} 
    
     .scroll-content{margin-bottom: 45px !important;}
     .footer:before{background-image: none !important;}
     .footer .toolbar{min-height: 54px;}
     .footer .toolbar-background{border: none !important; background: transparent;}
     .footer ul {padding: 0; list-style: none; text-align: center;  margin: 0; border-top: 1px solid #c6c6c6; background: #fff;}
     .footer ul li{margin: 0px 5%; display: inline-block;}
     .footer ul li img{width: 24px; }
     .footer .footer-logo {margin-top: -10px; }
     .footer li.footer-logo img {width: 42px;}
     
     .req-left p {position:relative;}
     .req-left .media {width: 50px; position: absolute;top: 15px; right: 0px;}
     .req-left .media video{width:50px; height:50px; margin-right: 0; border-radius:0;}
     .req-left .media img {
        width:50px; 
        height:auto;
		border-radius:0;
     }
     .click-layer {position: absolute !important; width: 100% !important; height: 100%; background: transparent !important; z-index: 1; top: 0px;  cursor: pointer;}
	 .hidenotification{display:none;}
    }