<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <div class="headerbg">
      <ion-row>
        <ion-col col-3>
			<div icon-left (click)="goTobackpage()">
			   <ion-icon name="arrow-back"></ion-icon>
			</div>
		</ion-col>
        <ion-col col-6>
          <div class="logo">
            <img src="assets/imgs/logo.png" alt="logo" (click)="goToHomePage()">
          </div>
        </ion-col>
        <ion-col col-3></ion-col>
      </ion-row>
    </div>
  </ion-navbar>
</ion-header>>
<ion-content>
<div class="notification-contant">
 <ion-row>
  <ion-col col-12>
  <div class="request-notification">
      <h5>You have a friend request!</h5>
      <div class="req-row" *ngFor="let request of userNotifications.friend_request; let i = index ">
        <div class="req-left">
          <img (click)="goToFriendprofilePage(request.friend_id)" src="{{request.profilePic}}" alt="profile-player">
          <p (click)="goToFriendprofilePage(request.friend_id)" ><b>{{request.username}}</b> <span>{{request.time}}</span></p>
          
        </div>
        <div class="req-right">
          <button ion-button (click)="respondFriendRequest(i,$event,request.friend_id, 'accept')">Approve</button>   
          <button ion-button (click)="respondFriendRequest(i,$event,request.friend_id, 'reject')">Decline</button>
        </div>
      </div>
    </div>
    </ion-col>
    </ion-row>
    <hr>
    
    <ion-row>
      <ion-col col-12>
      <div class="timeline-notification">
        <h5>Timeline</h5>
    <div class="req-row" *ngFor="let notification of userNotifications.timeline_notifications; let i = index ">
      <div class="req-left time">
      <img (click)="goToFriendprofilePage(notification.friend_id)" src="{{notification.profilePic}}" alt="profile-player">
      <p *ngIf="notification.ntfytype != 'mention' && notification.ntfytype != 'postcomment' && notification.ntfytype != 'postdislike' && notification.ntfytype != 'postlike'"><b>{{notification.userName}}</b> {{notification.message}}<span class="comt">{{notification.postCmnt}}</span><span>{{notification.time}}</span>
      </p>
      <p *ngIf="notification.ntfytype == 'mention' || notification.ntfytype == 'postcomment' || notification.ntfytype == 'postdislike' || notification.ntfytype == 'postlike'"><b>{{notification.userName}}</b> {{notification.message}}<span class="comt">{{notification.postCmnt}}</span><span>{{notification.time}}</span>
        <span class="media">
          <!-- <video *ngIf="notification.postMediaType == 'Video'" preload="metadata" webkit-playsinline="webkit-playsinline" controls>
            <source src="{{notification.postMedia}}#t=1" type="video/mp4">
          </video> -->
		  <img *ngIf="notification.postMediaType == 'Video'" src="assets/imgs/videoimg.png" alt="logo">
          <img *ngIf="notification.postMediaType == 'Image'" src="{{notification.postMedia}}">
        </span>
        <span class="click-layer" (click)="goToOtherfanentryviewPage(notification.post_id,notification.id, 'read')"></span>
      </p>
      <div class="mark-read" (click)="readNotification(i,$event,notification.id, 'read')"><ion-icon name="close"></ion-icon></div>
      </div>
    </div>
      </div>
    </ion-col>
 </ion-row>

</div>
</ion-content>
<page-footer></page-footer>