<!--
  Generated template for the FriendprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <div class="headerbg">
        <ion-row>
            <ion-col col-3>
                <div icon-left (click)="goTobackpage()">
                    <ion-icon name="arrow-back"></ion-icon>
                 </div>
              </ion-col>
          <ion-col col-6>
            <div class="logo">
              <img src="assets/imgs/logo.png" alt="logo" (click)="goToHomePage()">
            </div>
          </ion-col>
          <ion-col col-3></ion-col>
        </ion-row>
      </div>
    </ion-navbar>
  </ion-header>


<ion-content>
  <div class="new-profile-content">
    <div class="new-profile">
      <img src="{{userProfileData.profilePicture}}" alt="userpic">
      <div>
        <span class="pp_userTxt">{{userProfileData.username}}</span>
        <p class="team_txt1">{{userProfileData.userTeams}}</p>
        <span class="pp_userbio_txt">{{userProfileData.userbio}}</span>
      </div>
    </div>
  </div>
  <div class="bio_txt">
    
  </div>
  <div class="bio" *ngIf="friendPostData.user_id != friendPostData.friend_id">
      <div *ngIf="requestSentStatus == 'false'">
      <!-- <p>Bio copy bio copy bio copy</p> -->
      <div class="right" *ngIf="friendStatus == 'true'"><button (click)="respondFriendRequest(friendPostData.friend_id, 'unfriend')" ion-button>Unfriend</button></div>
      <div class="right" *ngIf="friendStatus == 'false'"><button (click)="respondFriendRequest(friendPostData.friend_id, 'friend')" ion-button>Add Friend</button></div>
    </div>
    <div class="requestSent" *ngIf="requestSentStatus == 'true'">
      <div class="right"><button ion-button>Request Sent</button></div>
    </div>
    </div>
  <div class="profile-frient-count">
    <ul>
      <li>
        <a href="#">Friends
          <span>{{userProfileData.userFriendsCount}}</span>
        </a>
      </li>
      <li>
        <a href="#">Points
          <span>{{userProfileData.getUserPointsRanks.likecount}}</span>
        </a>
      </li>
      <li>
        <a href="#">Rank
          <span>{{userProfileData.getUserPointsRanks.rank}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="videophoto">
    <ul>
      <li *ngFor="let post of posts; let id = index">
        <div *ngIf="post.type != ''">
			<img *ngIf="post.type == 'Image'" src="{{post.media}}">
			<video *ngIf="post.type == 'Video'" controls >
			  <source src="{{post.media}}#t=1" type="video/mp4">
			</video>
			<div class="click-layer" (click)="goToOtherfanentryviewPage(post.id)"></div>
		</div>
      </li>
    </ul>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="userPostData.page <= userPostData.totalPage">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
	</ion-infinite-scroll>
  </div>

</ion-content>
<page-footer></page-footer>