<!--
  Generated template for the FriendsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <div class="headerbg">
        <ion-row>
          <ion-col col-3>
              <div icon-left (click)="goTobackpage()">
                  <ion-icon name="arrow-back"></ion-icon>
               </div>
          </ion-col>
          <ion-col col-6>
            <div class="logo">
              <img src="assets/imgs/logo.png" alt="logo" (click)="goToHomePage()">
            </div>
          </ion-col>
          <ion-col col-3></ion-col>
        </ion-row>
      </div>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <div class="searchbarbox">
    <ion-searchbar type="text" (ionInput)="filterTechnologies($event.target.value)" placeholder="Search by Name, User Name, E-Mail"></ion-searchbar>
  </div>
  <div class="usersListBtn">
	<div class="pagetitle">Build your SFC Community!</div>
	<div class="addfriends"><button ion-button (click)="goToCommunityPage()">Add Friends</button></div>
  </div>	
  <div class="searchbarlist">
    <ul>
      <li *ngFor="let user of users">
		<div class="friendbox" *ngIf="user.checked =='true'">
        <div class="left">
          <img (click)="goToFriendprofilePage(user.id)" src="{{user.image}}" alt="{{user.name}}">
          <p>{{user.username}} <span>{{user.team}}</span></p>
        </div>
        <div class="right" (click)="unFriend(user.id, 'unfriend')"><img src="assets/imgs/unfriend.png" alt="unfriend"></div>
		</div>
      </li>
    </ul>
  </div>
</ion-content>

<page-footer></page-footer>