<!--
  Generated template for the SuperfanchallengePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<page-header></page-header>

<ion-content>
  <!-- <div class="pagetitle">#1 Super Fan Challenge</div>
  <div class="viewchallenge">
    <div class="left">
        <img src="{{userDetails.profilePicture}}" alt="User">
		<span>Georgia Tech</span>
    </div>
    <div class="right"><button ion-button (click)="goToDailycompeteviewPage()">Play Now!</button></div>
  </div> -->
  <div  class="fan-challenge mrgn_top76">
    <div *ngIf="this.superchallengedata.id" class="superchallengeday">
     <h3>{{this.superchallengedata.title}}</h3>
     <div class="button-sec">
        <button ion-button (click)="goToDailycompeteviewPage(this.superchallengedata.id)">Play Now!</button>
     </div>
    </div>
 
    <div *ngIf="!this.superchallengedata.id" class="challengeconutdown">
       <h3>SFC Countdown</h3>
       <div class="countdown"><p>{{timeLeft}}</p></div>
    </div>
     
    </div>
    
 
    <div *ngIf="this.bonusdata.id" class="bonus-challenge">
        <h3>Bonus Challenge</h3>
         <div class="button-sec">
            <h4>{{this.bonusdata.title}}</h4>
            <button ion-button (click)="goToCompetescreenPage(this.bonusdata.id)">Play Now!</button>
         </div>
       </div>
  <div class="videophoto">
    <ul>
      <li *ngFor="let post of posts; let id = index" >
		<div><video *ngIf="post.type == 'Video'" controls >
			<source src="{{post.media}}#t=1" type="video/mp4">
		</video>
    <img *ngIf="post.type == 'Image'" src="{{post.media}}">
  </div>
  <div class="click-layer" (click)="goToOtherfanentryviewPage(post.id)">
  </div>
      </li>
    </ul>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ul>
      <li class="home_icn"><span (click)="goToHomePage()"></span></li>
      <li class="explore_icn"><span (click)="goToexploreScreen()"></span></li>
      <li class="footer-logo fan_icon_footer page_active_icon"><span (click)="goToSuperfanchallengePage()"></span></li>
      <li class="leaderboard_icn"><span (click)="goTofanRankingPage()"></span></li>
      <li class="profileimg_icn"><span (click)="goToprofilePage()"></span></li>
    </ul>
  </ion-toolbar>
</ion-footer>
<!-- <page-footer></page-footer> -->