// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
body {
    font-family: Arial, Helvetica, sans-serif !important;
}

.triviagameBg {
    background: #ff6700;
    color: #fff;
    width: 100%;
    margin: 16px 0;
    padding: 0 16px;
    padding-bottom: 16px;
    border-radius: 5px;
    opacity: 0.1; 
    .button-md {
        background-color: #1b3c71;
    }
}

.header_notification {
    text-align: right;
    display: inline-block;
    position: relative;
    ion-icon{
        color: #fff;
        font-size: 24px;
        margin: 12px 12px 0 0;
		cursor: pointer;
        span {
            position: absolute;
            right: 4px;
            top: 6px;
            font-size: 10px;
            font-family: sans-serif;
            background: #ff6700;
            padding: 6px;
            border-radius: 100%;
        }
    }

}

.mrgn_top76 {
    margin-top: 76px;
}

.football_icon .loading-wrapper {
    background: transparent;
    box-shadow: none;
}

.football_icon span {
    display: block;
    color: #fff;
}


ion-header .back-button.show-back-button{
    display: none !important;
}


ion-header .toolbar-background {
    border-color: #b2b2b2;
    background: #183e6f;
}

ion-header .back-button.show-back-button {
    display: inline-block;
    color: #fff !important;
}

.toolbar{padding:0;}
.headerbg{ background: #183e6f;  padding: 5px;}
.headerbg .logo { width: 80px; margin: auto; text-align: center; cursor:pointer;}
.headerbg [icon-left] ion-icon{font-size: 36px; color: #fff; padding-top: 15px;cursor: pointer; pointer-events: inherit;}
.headerbg button { background: transparent;  padding: 0; font-size: 14px;}
.header-right {text-align: right;}

.scroll-content{margin-bottom: 45px !important;}
.footer:before{background-image: none !important;}
.footer .toolbar{height: 58px;}
.footer .toolbar-background{border: none !important; background: transparent;}
.footer ul {padding: 0; list-style: none; text-align: center;  margin: 0; border-top: 1px solid #c6c6c6; background: #fff;}
.footer ul li{margin: 0px 5%; display: inline-block;}
.footer ul li:first-child{margin-left: 0;}
.footer ul li:last-child{margin-right: 0;}
.footer ul li img{width: 24px; }
.footer .footer-logo {margin-top: -10px;}
.footer .footer-logo img{width: 42px;} 
// .footer ul li span {background: red; border-radius: 50%;color: #fff;padding: 4px;font-size: 10px;position: relative;bottom: 15px; text-align: center; display: inline-block; width:22px; height:22px;}
.forWebAppShare{
    display: none;
}

.segment-md .segment-button {
    color: #1c3d70;
    opacity: 1;
}
.segment-md .segment-button ion-icon {
    font-size: 32px;
    color: #1c3d70;
}

ion-footer ion-icon {
    color: #1c3d70 !important;
    font-size: 34px !important;
    margin-top: 6px !important;
    width: auto !important;
}
.page_active_icon ion-icon {
    color: #ff5d00 !important;
}

// ion-footer ul {
//     margin-bottom: -18px !important;
// }

ion-footer li span {
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
}

ion-footer li.fan_icon_footer span {
    width: 42px;
    height: 42px;
}

ion-footer li.home_icn span {
    background: url(../assets/imgs/home_icn.png) no-repeat left top !important; 
}

ion-footer li.home_icn.page_active_icon span, ion-footer li.home_icn:hover span {
    background-position: left bottom !important;
}

ion-footer li.explore_icn span {
    background: url(../assets/imgs/explore_icn.png) no-repeat left top !important; 
}

ion-footer li.explore_icn.page_active_icon span, ion-footer li.explore_icn:hover span {
    background-position: left bottom !important;
}

ion-footer li.fan_icon_footer span {
    background: url(../assets/imgs/footer_icn_icon.png) no-repeat left top !important; 
}

ion-footer li.fan_icon_footer.page_active_icon span, ion-footer li.fan_icon_footer:hover span {
    background-position: left bottom !important;
}

ion-footer li.leaderboard_icn span {
    background: url(../assets/imgs/leader-board_icn.png) no-repeat left top !important; 
}

ion-footer li.leaderboard_icn.page_active_icon span, ion-footer li.leaderboard_icn:hover span {
    background-position: left bottom !important;
}

ion-footer li.profileimg_icn span {
    background: url(../assets/imgs/profile_icn.png) no-repeat left top !important; 
}

ion-footer li.profileimg_icn.page_active_icon span, ion-footer li.profileimg_icn:hover span {
    background-position: left bottom !important;
}
.bio_txt {
    padding-left: 10px;
    padding-top: 6px;
    color: #000000;
}

.team_txt1 {
    margin-top: -4px;
    font-size: 13px;
    color: #183e6f;
    margin-bottom: 0;
}

.pp_userbio_txt {
    display: block;
    font-size: 11px;
    color: #555 !important;
    margin-top: 7px !important;
}

.pp_userTxt{color: #183e6f; margin-top: 0; font-size: 17px;}


.copyLinkBtn {
    background: #183e6f;
    color: #fff;
    padding: 5px 14px;
    border-radius: 5px;
}

.postLinkTxt {
    font-size: 12px;
}

// .fan_icon_footer {
//     background: url(../assets/imgs/footer-icon.png) no-repeat left top !important;
//     width: 60px !important;
//     height: 60px !important;
// }

.toast-message {
    background: #ff6700;
    color: #fff;
}

ion-infinite-scroll{display:inline-block;}
page-home .hme_profile_pic img, page-fanranking .rank-user img, page-home .commnt_input ul .left img, page-profile .new-profile-image img, page-otherfanentryview .new-profile img, page-otherfanentryview .commnt_input ul .left img{ object-fit: cover; cursor:pointer;}
.copyLinkTxt {
    font-size: 14px !important;
    word-break: break-all;
}
.copyLinkTxt ion-icon {
    font-size: 2.4rem !important;
}
.copyUrlTxt {
    display:inline-block;
    width: 2px;
    background: #e7ebf0;
    color: #e7ebf0;
    border: none;
}
page-otherfanentryview .copyUrlTxt {
    background: #fff;
    color: #fff;
}
::-moz-selection { 
    color: #e7ebf0;
    background: #e7ebf0;
}

::selection {
    color: #e7ebf0; 
    background: #e7ebf0;
}
.ornge_like { color: #ff5d00; }
.click-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    top: 0px;
    cursor: pointer;
}


.picker-md .picker-toolbar{background: transparent; border-bottom: 1px solid #fff;}
.picker-wrapper {background: #183e6f !important; max-width: 300px;}
.picker-md .picker-button, .picker-md .picker-button.activated{color: #f26826}
.button-clear-md:hover:not(.disable-hover) {background-color: rgba(255, 255, 255, 1);}
.picker-md .picker-opt{color:#fff;}
.picker-md .picker-prefix, .picker-md .picker-suffix, .picker-md .picker-opt.picker-opt-selected {color: #f26826;}


