<!--
  Generated template for the UploadscreenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <div class="headerbg">
        <ion-row>
          <ion-col col-3>
            <div icon-left (click)="goTobackpage()">
              <ion-icon name="arrow-back"></ion-icon>
           </div>
          </ion-col>
          <ion-col col-6>
            <div class="logo">
              <img src="assets/imgs/logo.png" alt="logo" (click)="goToHomePage()">
            </div>
          </ion-col>
          <ion-col col-3> <div class="right" (click)="createPost()">Post</div></ion-col>
        </ion-row>
      </div>
    </ion-navbar>
  </ion-header>


<ion-content>
  <!-- <caption>
    <ion-textarea placeholder="Caption" [(ngModel)]="userProfileData.postText">{{this.userProfileData.postText}}</ion-textarea>
  </caption> -->


  <ion-grid>
      <ion-row>
        <ion-col col-12>
		  <div class="pagetitle">POST YOUR CHALLENGE!</div>
		<div class="uploadscreen-img" *ngIf="userProfileData.postMedia==''">	
		 <img src="assets/imgs/post-upload-screen.jpg" alt="profile_pic">
    </div>  
    <div class="width100" *ngIf="userProfileData.postMedia">
        <ion-textarea class="upload_textarea" placeholder="Talk some smack..." [(ngModel)]="userProfileData.postText">{{this.userProfileData.postText}}</ion-textarea>
      <div class="width100" class="challengevideo" *ngIf="userProfileData.postType!=''">
          <div class="closebtn" (click)="removePhoto()"><ion-icon name="close"></ion-icon></div>
        <video *ngIf="userProfileData.postType == 'Video'" controls>
          <source src="{{userProfileData.postMedia}}#t=1" type="video/mp4">
        </video>
        <img *ngIf="userProfileData.postType == 'Image'" src="{{userProfileData.postMedia}}">
      </div>
    </div>
        </ion-col>
      </ion-row>
    </ion-grid>	


  <!-- <div class="challengevideo" *ngIf="userProfileData.postType!=''">
    <video *ngIf="userProfileData.postType == 'Video'" controls >
		<source src="{{userProfileData.postMedia}}#t=1" type="video/mp4">
	</video>
	<img *ngIf="userProfileData.postType == 'Image'" src="{{userProfileData.postMedia}}">
  </div>
  <div class="cameraicon"></div> -->
</ion-content>
<ion-footer>
	<input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
  <ul>
    <li class="active" (click)="uploadPhoto()">Library</li>
    <!-- <li (click)="uploadPostvideo()" class="active">Video</li> -->
    <li class="active" (click)="takePhoto()">Photo</li>
  </ul>
</ion-footer>