page-uploadscreen {
    .toolbar{padding:0;}
    .headerbg{ background: #183e6f;  padding: 5px;}
    .headerbg .logo { width: 80px; margin: auto; text-align: center;}
    .headerbg [icon-left] ion-icon{font-size: 36px; color: #fff; padding-top: 15px;}
    .right{ font-size: 20px; color: #fff; padding-top: 15px; text-align: right;cursor: pointer;}
    .challengevideo video{width: 100%; text-align: center;}
    caption {padding: 16px;width: 100%;}
    caption ion-textarea{background: #f4f4f4; padding: 5px; border-radius: 5px;}
    caption ion-textarea textarea.text-input{margin: 0px;}
	.pagetitle{ text-align: center; font-size: 20px; color: #f96529; padding: 10px; margin: 16px 0; font-weight: bold;}
	.uploadscreen-img img{width:100%;}
    ion-footer ul {text-align: center;margin: 0;padding: 0;list-style: none; font-size: 0;}
    ion-footer ul li {display: inline-block; padding: 15px 24px; color: #183e6f; text-decoration: none; font-size: 14px; margin: 0px 1% !important;cursor: pointer;}
    ion-footer ul li:hover{background: #f96529; color: #fff;}
    ion-footer ul li.active{background: #f96529; color: #fff;}
    .width100 {
        width: 100%;
    }
    .width100 img, .width100 video {
        width: 100%;
    }
    .upload_textarea {
        border: 1px solid #eaeaea;
        background: #eaeaea;
        border-radius: 5px;
        height: 40px;
        padding-left: 12px;
        font-size: 12px;
    }

    .closebtn {
		text-align: right;
		margin-right: 10px;
		font-size: 30px;
		font-weight: bold;
	}
	ion-footer ul li:hover {
        background: #488aff;
    }
    .right {
        background: #f26827;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        padding: 11px 32px;
        border-radius: 50px;
        height: auto;
        -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
        text-align: center;
        float: right;
        margin-top: 5px;
    }
    
    .right:hover{
        background: #488aff;
    }
} 
