<!--
  Generated template for the ProfileuploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
	<ion-header>
			<ion-navbar>
				<div class="headerbg">
					<ion-row>
						<ion-col col-3></ion-col>
						<ion-col col-6>
							<div class="logo">
								<img src="assets/imgs/logo.png" alt="logo" (click)="goToHomePage()">
							</div>
						</ion-col>
						<ion-col col-3> <div class="right" (click)="backtoprofile()">Done</div></ion-col>
					</ion-row>
				</div>
			</ion-navbar>
		</ion-header>
	
	<ion-content>
		<ion-grid>
			<ion-row>
				<ion-col col-12>
					<h3 class="img_upload_heading">Please click on bottom button to upload/change your profile image</h3>
					<img src="{{userProfileData.profilePicture}}" alt="profile_pic">
				</ion-col>
			</ion-row>
		</ion-grid>	
	</ion-content>
	
	<ion-footer>
		<input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
	  <ul>
		<li (click)="uploadPhoto()">Library</li>
		<!-- <li class="active">Video</li> -->
		<li (click)="takePhoto()">Photo</li>
	  </ul>
	</ion-footer>