page-explore {
    .item_scroll_auto {
        height: 112px;
    }
    .challengelist {
        ion-scroll {
            .scroll-content {
                margin-bottom: 0 !important;
            }
        }
    }
    .challengelist .button.activeteam {
        background: #183e6f;
        box-shadow: none;
    }
    .challengelist .button.activeteam p {
        color: #fff;
    }
    .toolbar{padding:0; position: relative; height: 75px;}
    .headerbg{ background: #183e6f;  padding: 5px; position: absolute;top: 0;left: 0; right: 0;}
    .headerbg .logo { width: 80px; margin: auto; text-align: center;}
    .explorepage{padding: 16px 50px;}
    .explorepage .segment-button{border: none; font-style: italic; font-size: 22px; height: auto;padding: 5px; color: #f26827; font-weight: bold;}
    .explorepage .segment-button.segment-activated {background-color: #183e6f;  border-radius: 5px; color: #fff;}
    .explorepage .segment-button:hover:not(.segment-activated) {background-color:transparent;}
    .challengelist{padding: 10px 0;} 
    .challengelist ul{margin: 0; padding: 0; list-style: none; /*width: 560%;*/}
    .challengelist ul li{ position: relative;height: 65px;text-align: center; vertical-align: middle; width: 120px; box-shadow: inset 0px 0px 8px #878787; display: inline-block; border: 1px solid #878787; border-radius: 5px; padding:5px 10px;}
    .challengelist ul li img {width: 28px; height: 28px;}
    .challengelist ul li p {text-transform: uppercase; color:#183e6f; font-size: 14px; margin: 0; width:100%;left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%);}
    .videophoto{text-align: center; margin-top: 15px;}
    .videophoto ul{margin: 0; padding: 0; list-style: none;}
    .videophoto ul li{margin: 1px;width: 32%; display: inline-block; font-size: 0; background: #183e6f; position: relative;}
    .videophoto ul li video, .videophoto ul li img{width: 100%; height: 80px;}
    .click-layer {position: absolute; width: 100%; height: 100%; background: transparent; z-index: 1; top: 0px; cursor: pointer;}


    .challengelist .button{background: #e4e4e4; position: relative;height: 65px;text-align: center; vertical-align: middle; min-width: 166px; /*box-shadow: inset 0px 0px 8px #878787;*/ display: inline-block; border: 1px solid #bdbdbd; border-radius: 5px; padding:5px 10px; white-space: normal;}
    .challengelist .button:hover {
        background: #e4e4e4;
    }
    .challengelist .button img {width: 28px; height: 28px; margin-top: -25px;}
    .challengelist .button p {text-transform: uppercase; color:#183e6f; font-size: 14px; margin: 0; width:100%;left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%);}
    .exter .button:first-child p{margin-top: 10px;}

    ion-footer {
        .toolbar-background {
            border-color: #f26827;
            background: #f26827;
        }
        ion-icon {
            color: #fff;
            font-size: 30px;
            vertical-align: top;
            width: 19%;
            text-align: center;
            margin-top: -10px !important;
            margin-bottom: -10px;
        }
         .icon img {
            margin-top: 4px;
        }
    }

    .filters .swiper-slide{background: #e4e4e4; position: relative;height: 65px;text-align: center; vertical-align: middle; min-width: 166px; display: inline-block; border: 1px solid #bdbdbd; border-radius: 5px; padding:5px 10px; white-space: normal;cursor: pointer;}
    .filters .swiper-slide img {width: 28px; height: 28px;}
    .filters .swiper-slide p {text-transform: uppercase; color:#183e6f; font-size: 14px; margin: 0; width:100%;left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%);}
    .filters .swiper-slide.activeteam {background: #183e6f; box-shadow: none;}
    .filters .swiper-slide.activeteam p { color: #fff;}
    .filters .swiper-slide:hover {background: #183e6f;}
    .filters .swiper-slide:hover p{color: #fff; }
    .exter .swiper-slide:first-child .slide-zoom p{margin-top: 10px;}
    .filters ion-icon {font-size: 32px;margin-top: 15px; cursor: pointer;}
    .filters .forward{text-align: right;}
}
