<!--
  Generated template for the ExplorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<page-header></page-header>


<ion-content padding>
    <div class="explorepage mrgn_top76">
        <ion-segment [(ngModel)]="explore">
          <ion-segment-button value="exploresfc">
            SFC
          </ion-segment-button>
          <ion-segment-button value="explorebonus">
            BONUS
          </ion-segment-button>
        </ion-segment>
      </div>
      <div [ngSwitch]="explore">
        <ion-list *ngSwitchCase="'exploresfc'">
          <div class="challengelist exter">
            <!-- <ul>
                <ion-scroll scrollX="true" class="item_scroll_auto" style="height:112px" >
                    <ion-row nowrap class="headerChip">
              <button [ngClass]="{'activeteam': teamdatalist.id == selectedTeam}" *ngFor="let teamdatalist of teamdataSet" ion-button (click)="getteamsdata(teamdatalist.id,teamdatalist.team_name)">
                <img *ngIf="teamdatalist.team_name == 'For You'" src="assets/imgs/teams2.png" alt="teams">
                <p>{{teamdatalist.team_name}}</p>
              </button>
            </ion-row>
          </ion-scroll>
            </ul> -->
            <ion-row class="filters">
              <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
                 <ion-icon name="arrow-back"></ion-icon>
             </ion-col>
             <ion-col no-padding col-10>
                 <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="{{slidesPerView}}">
                     <ion-slide [ngClass]="{'activeteam': teamdatalist.id == selectedTeam}"  (click)="getteamsdata(teamdatalist.id,teamdatalist.team_name)" *ngFor="let teamdatalist of teamdataSet">
                         <img *ngIf="teamdatalist.team_name == 'For You'" src="assets/imgs/teams2.png" alt="teams">
                         <p [class.selected]="selectedTeam?.id === teamdatalist.id">{{ teamdatalist.team_name }}</p>
                     </ion-slide>
                 </ion-slides>
             </ion-col>
             <ion-col class="col-with-arrow forward" (click)="slideNext()" no-padding col-1>
                 <ion-icon name="arrow-forward"></ion-icon>
             </ion-col>
           </ion-row>
          </div>


          <div class="videophoto">
            <ul>
    
              <li *ngFor="let exploredatalist of exploredataSet">
                <div>
                <video controls *ngIf="exploredatalist.type == 'Video'">
                  <source src="{{exploredatalist.media}}" type="video/mp4">
                </video>
                <img *ngIf="exploredatalist.type == 'Image'" src="{{exploredatalist.media}}">
              </div>
              <div class="click-layer" (click)="goToOtherfanentryviewPage(exploredatalist.id)"></div>
              </li>
    
            </ul>
          </div>
        </ion-list>
        <ion-list *ngSwitchCase="'explorebonus'">
            <div class="challengelist">
                <!-- <ul>
                    <ion-scroll scrollX="true" class="item_scroll_auto" style="height:112px" >
                        <ion-row nowrap class="headerChip">
                  <button [ngClass]="{'activeteam': gamedatalist.id == selectedgame}" *ngFor="let gamedatalist of gamedataSet" ion-button (click)="getgamesdata(gamedatalist.id)">
                    <img *ngIf="gamedatalist.game_name == 'For You'" src="assets/imgs/teams2.png" alt="teams">
                    <p>{{gamedatalist.game_name}}</p>
                  </button>
                </ion-row>
              </ion-scroll>
                </ul> -->
                <ion-row class="filters">
                  <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
                     <ion-icon name="arrow-back"></ion-icon>
                 </ion-col>
                 <ion-col no-padding col-10>
                     <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="{{slidesPerView}}">
                         <ion-slide [ngClass]="{'activeteam': gamedatalist.id == selectedgame}"  (click)="getgamesdata(gamedatalist.id)" *ngFor="let gamedatalist of gamedataSet">
                            <img *ngIf="gamedatalist.game_name == 'For You'" src="assets/imgs/teams2.png" alt="teams">
                             <p [class.selected]="selectedTeam?.id === gamedatalist.id">{{ gamedatalist.game_name }}</p>
                         </ion-slide>
                     </ion-slides>
                 </ion-col>
                 <ion-col class="col-with-arrow forward" (click)="slideNext()" no-padding col-1>
                     <ion-icon name="arrow-forward"></ion-icon>
                 </ion-col>
               </ion-row>
              </div>

              
          <div class="videophoto">
            <ul>
                <li *ngFor="let exploregamedatalist of exploregamedataSet">
                    <video controls *ngIf="exploregamedatalist.type == 'Video'">
                      <source src="{{exploregamedatalist.media}}" type="video/mp4">
                    </video>
                    <img *ngIf="exploregamedatalist.type == 'Image'" src="{{exploregamedatalist.media}}">
                    <div class="click-layer" (click)="goToOtherfanentryviewPageexplore(exploregamedatalist.id)"></div>
                  </li>
            </ul>
          </div>
        </ion-list>
      </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ul>
      <li class="home_icn"><span (click)="goToHomePage()"></span></li>
      <li class="explore_icn page_active_icon"><span (click)="goToexploreScreen()"></span></li>
      <li class="footer-logo fan_icon_footer"><span (click)="goToSuperfanchallengePage()"></span></li>
      <li class="leaderboard_icn"><span (click)="goTofanRankingPage()"></span></li>
      <li class="profileimg_icn"><span (click)="goToprofilePage()"></span></li>
    </ul>
  </ion-toolbar>
</ion-footer>
<!-- <page-footer></page-footer> -->