<!--
  Generated template for the FooterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-footer>
  <ion-toolbar>
    <ul>
      <li><img src="assets/imgs/home.png" alt="Home" (click)="goToHomePage()"> <!-- <span *ngIf="notificationsCount > 0" (click)="goToNotificationPage()">{{notificationsCount}}</span> --></li>
      <li (click)="goToexploreScreen()"><img src="assets/imgs/explore.png" alt="Explore"></li>
      <li class="footer-logo" (click)="goToSuperfanchallengePage()"><img src="assets/imgs/footer-icon.png" alt="Super Fan" width="60"></li>
      <li (click)="goTofanRankingPage()"><img src="assets/imgs/leader-board.png" alt="Ranking"></li>
      <li (click)="goToprofilePage()"><img src="assets/imgs/profile.png" alt="Profile"></li>
    </ul>
  </ion-toolbar>
  <!-- <ion-segment style="background:#fff; border-top: #c6c6c6 1px solid;">
      <ion-segment-button>
        <ion-icon name="home" (click)="goToHomePage()"></ion-icon>
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="ios-compass-outline" (click)="goToexploreScreen()"></ion-icon>
      </ion-segment-button>
      <ion-segment-button style="margin-top: -28px; height: 60px; border-bottom: none;">
          <img src="assets/imgs/footer-icon.png" (click)="goToSuperfanchallengePage()" alt="Super Fan" width="48px">
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="calendar" (click)="goTofanRankingPage()"></ion-icon>
      </ion-segment-button>
      <ion-segment-button>
        <ion-icon name="ios-contact" (click)="goToprofilePage()"></ion-icon>
      </ion-segment-button>
    </ion-segment> -->
</ion-footer>
