<!--
  Generated template for the CompetescreenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <div class="headerbg">
        <ion-row>
          <ion-col col-3>
            <div icon-left (click)="goTobackpage()">
              <ion-icon name="arrow-back"></ion-icon>
           </div>
          </ion-col>
          <ion-col col-6>
            <div class="logo">
              <img src="assets/imgs/logo.png" alt="logo" (click)="goToHomePage()">
            </div>
          </ion-col>
          <ion-col col-3></ion-col>
        </ion-row>
      </div>
    </ion-navbar>
  </ion-header>


<ion-content>
    <div class="competescreen-contant">
      <div class="competescreen-contant">
        <div class="pagetitle">{{this.singlebonusPostData.bonustitle}}</div>

        <div class="competescreen-cup">
            <img src="{{this.singlebonusPostData.bonusurl}}" alt="{{this.singlebonusPostData.bonustitle}}">
            
            <div class="mode-text">
              
              <p>{{this.singlebonusPostData.bonusdescription}}</p>
                 <div class="mode-btn">
                  <button ion-button (click)="goToUploadscreenPage(this.singlebonusPostData.type,this.singlebonusPostData.bonusid)">Submit Entry</button>   
                </div>
            </div>
        </div>

        <div class="compete-text">
            <h1>Post. <span>Compete.</span>  <span>Win!</span></h1>
        </div>


    </div>

		<div class="rules">
          <h3>Game Rules</h3>
         <ul>
            <li>All challenges will be voted on by other Super Fans!</li>
            <li>All video submission can be up to 20 seconds to receive credit.</li>
            <li>No harming people, places, or animals. Be creative!</li>
            <li>Challenges can change weekly.</li>
            <li>Every day there is a winner!</li>
            <li>Weekly Super Fan Rankings are based on competitions Monday – Sunday midnight.</li>
            <li>At the end of the day the Super Fan with the most votes wins that day’s competition and earns points to increase their Super Fan ranking!</li>
            <li>At the end of the season the top 5 ranking Superfans will win prizes. </li>
            <li>The #1 Fan in all the land wins tickets to the 2019 National Championship in Santa Clara, California!</li>
          </ul>
        </div>

    </div>    
  </ion-content>

<page-footer></page-footer>
