page-competescreen {
    .toolbar{padding:0; position: relative; height: 75px;}
    .headerbg{ background: #183e6f;  padding: 5px; position: absolute;top: 0;left: 0; right: 0;}
.headerbg .logo { width: 80px; margin: auto; text-align: center;}
.headerbg [icon-left] ion-icon{font-size: 36px; color: #fff; padding-top: 15px;}

.pagetitle{ text-align: center; font-size: 20px; color: #f26827; padding: 10px; 
    margin: 16px 0; font-weight: bold;}

.competescreen-cup{position: relative;}
.competescreen-cup img{width: 100%;}
.mode-text{background: #183e6f; color: #fff; padding: 1px 10px; width: 80%; margin: 0 auto; position: absolute; margin-top: -40px; left: 0;
    right: 0;}
.mode-text p {font-size: 14px; line-height: 22px; font-weight: bold; text-align:center;}
.mode-btn{text-align: center; margin-bottom: 10px;}
.mode-text button{background: #f26827; color: #fff; text-decoration: none; font-size: 16px; 
    padding: 12px 20px; border-radius: 18px; height: auto; box-shadow: 0px 3px 8px rgba(0,0,0,.5);}

.compete-text {margin-top: 125px; margin-bottom: 30px;}
.compete-text h1 {color: #183e6f; text-align: center; line-height: 38px; font-size: 30px;}
.compete-text h1 span{display: block;} 

.rules {border-top: 1px solid #e1dada; padding-top: 5px; padding-bottom: 15px;}
.rules h3 {text-align: center; color:#f26827;}
.rules ul {padding: 0 15px 0 24px; font-size: 14px;} 
.rules ul li {line-height: 20px; margin-bottom: 6px;}

 .scroll-content{margin-bottom: 45px !important;}
 .footer:before{background-image: none !important;}
 .footer .toolbar{min-height: 54px;}
 .footer .toolbar-background{border: none !important; background: transparent;}
 .footer ul {padding: 0; list-style: none; text-align: center;  margin: 0; border-top: 1px solid #c6c6c6; background: #fff;}
 .footer ul li{margin: 0px 5%; display: inline-block;}
 .footer ul li a img{width: 24px; }
 .footer .footer-logo {margin-top: -10px; }
 .footer .footer-logo a img{width: 42px;} 
}
