<!--
  Generated template for the TermsandconditionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <div class="headerbg">
      <ion-row class="top-icons">
        <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
            <!-- <button ion-button icon-left (click)="backtomain()"> 
              <ion-icon name="arrow-back"></ion-icon>
                
              </button> -->
              
        </ion-col>
  
        <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
          <p text-right (click)="gotToSignUpPage()">Create Account</p>
        </ion-col>
      </ion-row>
      <img text-center src="assets/imgs/img_logo.png" alt="logo">
    </div>
   
    <div class="graybg">
  
      <div class="reg-form termsPage">
        <p>By creating an account, I agree to the Terms of Use and acknowledge that I have read the Privacy Policy.</p>
        <p>Please send me occasional information and offers about my favorite teams, sports and other information from:</p>
        <p>SFC regarding selected third-party Partners</p>
        <form [formGroup]="termsCondition" (ngSubmit)="termsForm()">
            <ion-item>
                <ion-label>SFC regarding selected third-party Partners</ion-label>
                <ion-checkbox formControlName="messageApplied"></ion-checkbox>
              </ion-item>
            <button ion-button type="submit" [disabled]="!termsCondition.valid">Submit</button>
          </form>
      </div>
    </div>
  </ion-content>
